doctype html
html(lang="en")
head
    meta(charset="utf-8")
    title Entertainer Login
    link(href="css/app.css",rel="stylesheet")

body
    #app

    script(src="js/lib/jquery.min.js")
    script(src="js/lib/lodash.min.js")
    script(src="js/lib/handlebars.min.js")
    script(src="js/lib/backbone-min.js")
    script(src="js/lib/backbone.radio.min.js")
    script(src="js/lib/backbone.marionette.min.js")
    script(src="js/app.js")
