doctype html
html(lang="en")
head
    meta(charset="utf-8")
    title Entertainer Login
    link(href="css/app.css",rel="stylesheet")
    link(href="css/lib/jquery-ui.min.css",rel="stylesheet")
    link(href="css/lib/jquery.comiseo.daterangepicker.css",rel="stylesheet")

body
    #sidebar
        a(id="employees", href="#employees") EMPLOYEES
        a(id="reports", href="#reports") REPORTS

    #content
        #app

    script(src="js/lib/jquery.min.js")
    script(src="js/lib/jquery-ui.min.js")
    script(src="js/lib/jquery.serializeObject.js")
    script(src="js/lib/lodash.min.js")
    script(src="js/lib/moment.min.js")
    script(src="js/lib/handlebars.min.js")
    script(src="js/lib/backbone-min.js")
    script(src="js/lib/backbone.radio.min.js")
    script(src="js/lib/backbone.marionette.min.js")
    script(src="js/lib/jquery.comiseo.daterangepicker.min.js")
    script(src="js/app.js")
