#sidebar {
	float: left;
	background: #36d877;
	height: 100%;
	width: 20%;
	box-sizing: border-box;

	a {
		display: block;
		color: #ffffff;
		font-size: 18px;
		padding: 25px;

		&.active {
			background: #249953;
		}
	}
}
