<nav>
	<a href="#reports/nightly" class="active">Nightly</a>
	<a href="#reports/payroll">Payroll</a>
</nav>

<h1>Nightly Report</h1>

<form id="nightly_report_form">
	<input id="report_date" type="text" name="date" />
	<button>Submit</button>
</form>

<div id="timecard_list"></div>
